@import '../../style/colors.css';

.navbar {
  width: calc(100vw - 100px);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  z-index: 10;
  margin: 0 auto;
}

.navbar__logo-container img {
  width: 70px;
  cursor: pointer;
}

.navbar__links-container {
  display: flex;
}

.navbar__links-container p {
  margin: 0 10px;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.navbar__links-container p:hover {
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar {
    width: calc(100% - 30px);
  }
}
