@import '../../style/colors.css';

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo-container img {
  width: 70px;
}

.navbar__links-container a {
  margin: 0 10px;
  color: var(--color-primary);
  text-decoration: none;
}
